/* Estilos para la página web */

body{
    background-color: #D5DCE9;
    font-size: 16px;
}

h1{
    font-size: 36px;
    color: #2F4454;
}
p{
    font-size: medium;
    text-align: justify;
    color: #375A7F;

}
.encabezado {
    text-align: center;  
    text-transform: uppercase;  
    font-weight: bold;  
    font-size: 42px;
}
.parrafo {  
    text-align: justify;  
    text-transform: capitalize;  
    font-size: 24px;
}
#fondo {  
    background-color: #F1F2F4;
}
p a {  
    color:  #375A7F;  
    text-decoration: none;
}
       